name: PHPStan

on:
  workflow_call:
    inputs:
      phpVersion:
        description: "The PHP version to use. Defaults to 'latest'."
        type: string
        required: false
        default: "latest"
      phpstanVersion:
        description: "The PHPStan version to use. Defaults to the latest available version."
        type: string
        required: false
        default: ""

jobs:
  phpstan:
    name: "PHPStan"
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Check for existence of a PHPStan config file
        id: has_config
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: "phpstan.neon.dist, phpstan.neon"

      - name: Create tools string
        id: tools
        run: |
          if [ "${{ inputs.phpstanVersion }}" == "" ]; then
            echo 'TOOLS=phpstan' >> "$GITHUB_OUTPUT"
          else
            echo 'TOOLS=phpstan:${{ inputs.phpstanVersion }}' >> "$GITHUB_OUTPUT"
          fi

      - name: Install PHP
        if: ${{ steps.has_config.outputs.files_exists == 'true' }}
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ inputs.phpVersion }}
          coverage: none
          tools: ${{ steps.tools.outputs.TOOLS }}

      # Remove PHPCSDevCS to prevent circular dependency issues for repos using this workflow
      # while also being a dependency of PHPCSDevCS.
      - name: 'Composer: remove PHPCSDevCS'
        run: composer remove --dev phpcsstandards/phpcsdevcs --no-update --no-interaction

      # Install dependencies and handle caching in one go.
      # Dependencies need to be installed to make sure the PHPUnit classes are recognized.
      # @link https://github.com/marketplace/actions/install-php-dependencies-with-composer
      - name: Install Composer dependencies
        if: ${{ steps.has_config.outputs.files_exists == 'true' }}
        uses: "ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520" # 3.1.1
        with:
          # Bust the cache at least once a month - output format: YYYY-MM.
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: Run PHPStan
        if: ${{ steps.has_config.outputs.files_exists == 'true' }}
        run: phpstan analyse
