name: FindTokenPropertiesRefs

on:
  workflow_call:

jobs:
  find-token-properties:
    # The properties in the PHPCS Tokens class have been deprecated since PHPCS 4.0.0.
    name: 'Find use of Tokens properties'
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Find uses
        id: findprops
        shell: cmd
        run: |
          findstr /S /N /C:"Tokens::$" *.php
          IF %ERRORLEVEL% NEQ 1 (Echo Please use the Tokens constants instead of the properties &Exit /b 1)
          IF %ERRORLEVEL% EQU 1 (Echo All good &Exit /b 0)
